main {
    .imagen_inicio{
        height: 250px;
        margin: 0px 15px 20px 40px;
        border-color: #CCE6F4;
        border: 5px;
    }

    .imagen_inicio_uno{
        height: 256px;
        margin: 10px 35px 20px 40px;
        border-color: #CCE6F4;
        border: 5px;
    }
    p{
        display: flex;
        align-items: center;
        padding-top: 70px;
        padding-left: 20px;
        margin-left: 20px;
        color: aliceblue;

    }
}

@media (max-width:2000px) {

    main {
        min-height: 100vh;


    }
}

@media (max-width:485px) {
    .imagen_inicio{
       width: 80% !important ;
        margin: 0px 7px 0px 25px !important ;
    }

    .imagen_inicio_uno{
       
    width: 80% !important ;
        margin: 5px 0px 0px 25px !important;
    }

}