 
 
 
 main{
     max-width: 100vw;

     background-color: #760905;
 .imagen_catalogo{
            height: 250px;
        }
 .titulo_catalogo{
     font-size: small;
     padding-left: 10px;
     color: #CCDBDC;
 }
 .libro{
     margin: 0 1.5rem 0 1.5rem;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;

 }
 .indice{
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #292929;
     color: #CCDBDC;
     max-height: 100vh;

 }
.catalogo{
    background-color: #760905;
}
  }
  

@media (max-width:2000px) {

    .indice{
        min-height: 100vh;
    }
 .catalogo {
     min-height: 100vh;
 }


}

@media (max-width:767px) {
    .indice{
        min-height: 25vh;
    }
}