form{
    align-items: center;
    input{
        margin-left: 20px;
       
    }
    .motivo_consulta{
        height: 100px;
      padding-right: 15px;
    }
    
}
main{
    h2{
        color: aliceblue;
    }
form{
        color: aliceblue;
    }
}